@charset "UTF-8";
.orcolor {
  color: #D64000 !important;
}

.lead {
  text-align: left;
}

@media (min-width: 992px) {
  .lead {
    max-width: 55%;
  }
}

@media (min-width: 1200px) {
  .lead {
    max-width: 55%;
  }
}

.textp p {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.img-responsive img{
  display: block;
  max-width: 100%;
  height: auto;
}
img{
  vertical-align: middle;
}